    body {
        
        font-family: 'Lobster', cursive;
        background-image: url('files/drums1t.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1 {
        text-align: center;
        font-size: 60px;  
        background: url(files/purple.jpg) no-repeat;
        height: 100%;
        weight: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
    
    .sound {
        padding: 5px;
        font-family: 'Agency FB', sans-serif;
        background: url(files/purple.jpg) no-repeat;
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        font-weight: bold;
    }
    
    .keys {
        padding: 50px;
        margin: 50px auto;
        text-align: center;
        display: flex;
    }
    
    .key {
        padding: 5px;
        flex: 10%;
    }
    
    kbd {
        border: 5px solid purple;
        font-size: 30px;
        border-radius: .5rem;
    }
    
    .playing {
        font-size: 40px;
        border: 5px solid plum;
    }
   
    
    kbd:hover {
        font-size: 40px;
        border: 5px solid plum;
    }
    
    #bottom {
            font-size: 20px;
            color: indigo;
            bottom: 0;
            padding-bottom: 0;
            left: 0;
            width: 100%;
            height: 4%;
            position: fixed;                   
        }
        
    
    @media screen and (max-width: 850px) {
        .keys {
            display: block;
            text-align: center;
        }
        .sound {
            width: 70px;
        }
    }